@use "../abstract/variable" as v;
@use "../base/font";

body {
    font-family: "lato_regular", sans-serif;
}

h3 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
}

h2 {
    font-size: 40px;
}


