@use "../abstract/variable" as v;

////////// Services //////////

.services {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    padding-right: 5rem;
}

.services h2 {
    margin-top: 5rem;
}


.trois_services {
    display: flex;
    margin-top: 1rem;
}

.egypte {
    background-image: url(../img/homme-assis-batiment.jpg);
    width: 50%;
    height: 30rem;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: v.$blanc;
    border-radius: 20px;
    filter: brightness(70%);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.egypte a {
    color: v.$blanc;
}

.egypte a:hover {
    color: v.$noir;
}

.trait {
    color: v.$bannercolor;
}

.passport {
    background-image: url(../img/passport.jpg);
    width: 103vh;
    height: 48%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: v.$blanc;
    border-radius: 20px;
    margin-bottom: 1rem;
    filter: brightness(70%);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);

}

.passport a {
    color: v.$blanc;
}

.passport a:hover {
    color: v.$noir;
}

.mongolfiere {
    background-image: url(../img/montgolfiere.jpg);
    width: 100%;
    height: 49%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: v.$blanc;
    border-radius: 20px;
    filter: brightness(70%);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);

}

.mongolfiere a {
    color: v.$blanc;
}

.mongolfiere a:hover {
    color: v.$noir;
}

.pass_mongol {
    margin-left: 1rem;

}

////////// Features //////////

.features {
    background-image: url(../img/wave.svg);
    background-size: cover;
    background-position: center;
    padding-bottom: 10rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding-top: 6rem;
}

main h2:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
    padding-right: 5rem;
    padding-left: 5rem;
}

.id {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 14rem;
}
.bus {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 14rem;  
}
.lit {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 14rem;  
}

.features div i {
    color: v.$bannercolor;
    font-size: 60px;
    margin-bottom: 2rem;
}

.features div h4 {
    font-size: 30px;
    margin-bottom: 2rem;
}

////////// GET IN TOUCH //////////

.lorem {
    background-color: v.$bannercolor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5rem;
    border-radius: 20px;
    transform: translateY(-6rem);
}

.back_lorem {
    background-color: v.$footer;
    height: 15rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.lorem h5 {
    font-size: 30px;
    margin-left: 3rem;
    padding-top: 4rem;
    color:  v.$blanc;
    font-weight: 500;
    margin-bottom: 1rem;
}

.amet {
    display: block;
}

.lorem p {
    margin-left: 3rem;
    color: v.$blanc;
}

.button_lorem {
    margin-top: 5rem;
    margin-right: 10rem;
}

.button_lorem  a{
    color: v.$noir;
    background-color: v.$blanc;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    font-weight: 800;
}

.button_lorem  a:hover{
    color: v.$blanc;
    background-color: v.$noir;
}