@use "../abstract/variable" as v;

////////// Services //////////

.services {
    margin-top: 5rem;
    margin-left: 5rem;
    margin-bottom: 10rem;
}

.trois_services {
    display: flex;
}

.egypte {
    background-image: url(../img/homme-assis-batiment.jpg);
    width: 50%;
    height: 25rem;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: v.$blanc;
}

