@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: "lato_regular";
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "lato_bold";
  src: url("../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "lato_light";
  src: url("../fonts/Lato-Light.ttf");
}
body {
  font-family: "lato_regular", sans-serif;
}

h3 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
}

h2 {
  font-size: 40px;
}

nav ul li a {
  color: grey;
}

.agency {
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

nav ul {
  display: flex;
  margin-right: 5rem;
}

nav ul li {
  margin-right: 3rem;
}

nav img {
  width: 10rem;
  margin-left: 5rem;
}

nav ul li a:hover {
  font-weight: 900;
}

.banner {
  display: flex;
  justify-content: center;
}

.bannière {
  background-color: #E7816B;
  border-radius: 25px;
  width: 75rem;
  height: 26rem;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.bannière div p {
  color: white;
  width: 40rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 15px;
}

.bannière div {
  margin-left: 4rem;
  margin-top: 5rem;
}

.bannière div h1 {
  color: white;
  width: 40rem;
  font-size: 40px;
}

.bannière div a {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
  color: black;
  font-weight: 700;
  background-color: white;
}

.bannière div a:hover {
  background-color: black;
  color: white;
}

.bannière img {
  position: absolute;
  width: 15rem;
  height: 30rem;
  right: 7rem;
  top: 6rem;
}

.services {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.trois_services {
  display: flex;
  margin-top: 1rem;
}

.egypte {
  background-image: url(../img/homme-assis-batiment.jpg);
  width: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  border-radius: 20px;
  filter: brightness(70%);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.egypte a {
  color: white;
}

.egypte a:hover {
  color: black;
}

.trait {
  color: #E7816B;
}

.passport {
  background-image: url(../img/passport.jpg);
  width: 600px;
  height: 12rem;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  border-radius: 20px;
  margin-bottom: 1rem;
  filter: brightness(70%);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.passport a {
  color: white;
}

.passport a:hover {
  color: black;
}

.mongolfiere {
  background-image: url(../img/montgolfiere.jpg);
  width: 600px;
  height: 12rem;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  border-radius: 20px;
  filter: brightness(70%);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.mongolfiere a {
  color: white;
}

.mongolfiere a:hover {
  color: black;
}

.pass_mongol {
  margin-left: 1rem;
}

.features {
  background-image: url(../img/wave.svg);
  padding-bottom: 10rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  padding-top: 10rem;
}

main h2:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
  margin-right: 4rem;
}

.id {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 14rem;
}

.bus {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 14rem;
}

.lit {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 14rem;
}

.features div i {
  color: #E7816B;
  font-size: 60px;
  margin-bottom: 2rem;
}

.features div h4 {
  font-size: 30px;
  margin-bottom: 2rem;
}

.lorem {
  background-color: #E7816B;
  margin-left: 5rem;
  margin-right: 5rem;
}

.lorem h5 {
  font-size: 30px;
  margin-left: 3rem;
  margin-top: 10rem;
}

/*# sourceMappingURL=style.css.map */
