@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: "lato_regular";
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "lato_bold";
  src: url("../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "lato_light";
  src: url("../fonts/Lato-Light.ttf");
}
body {
  font-family: "lato_regular", sans-serif;
}

h3 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
}

h2 {
  font-size: 40px;
}

nav ul li a {
  color: grey;
}

.agency {
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  position: relative;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 4rem;
}

nav img {
  width: 10rem;
}

nav ul li a:hover {
  font-weight: 900;
}

.banner {
  display: flex;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 5rem;
}

.bannière {
  background-color: #E7816B;
  border-radius: 25px;
  width: 100%;
  padding-bottom: 5rem;
  margin-top: 4rem;
  position: relative;
  overflow: hidden;
  padding-right: 40%;
}

.texte_banniere {
  max-width: 700px;
}

.bannière div p {
  color: white;
  max-width: 40rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 15px;
  height: auto;
}

.bannière div {
  margin-left: 4rem;
  margin-top: 5rem;
}

.bannière div h1 {
  color: white;
  width: 40rem;
  font-size: 40px;
}

.bannière div a {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
  color: black;
  font-weight: 700;
  background-color: white;
}

.bannière div a:hover {
  background-color: black;
  color: white;
}

.bannière img {
  position: absolute;
  max-height: 70vh;
  min-height: 200px;
  right: 10%;
  bottom: -8rem;
  width: 15rem;
}

.services {
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  padding-right: 5rem;
}

.services h2 {
  margin-top: 5rem;
}

.trois_services {
  display: flex;
  margin-top: 1rem;
}

.egypte {
  background-image: url(../img/homme-assis-batiment.jpg);
  width: 50%;
  height: 30rem;
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.sombre1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.egypte a {
  color: white;
}

.egypte a:hover {
  color: black;
}

.trait {
  color: #E7816B;
}

.passport {
  background-image: url(../img/passport.jpg);
  width: 100%;
  height: 48%;
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 20px;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.sombre2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.passport a {
  color: white;
}

.passport a:hover {
  color: black;
}

.mongolfiere {
  background-image: url(../img/montgolfiere.jpg);
  width: 100%;
  height: 49%;
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.sombre2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.mongolfiere a {
  color: white;
}

.mongolfiere a:hover {
  color: black;
}

.pass_mongol {
  margin-left: 1rem;
  width: 50%;
}

.features {
  background-image: url(../img/wave.svg);
  background-size: cover;
  background-position: center;
  padding-bottom: 10rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  padding-top: 6rem;
}

main h2:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
  padding-right: 5rem;
  padding-left: 5rem;
}

.id {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 14rem;
}

.bus {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 14rem;
}

.lit {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 14rem;
}

.features div i {
  color: #E7816B;
  font-size: 60px;
  margin-bottom: 2rem;
}

.features div h4 {
  font-size: 30px;
  margin-bottom: 2rem;
}

.lorem {
  background-color: #E7816B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5rem;
  border-radius: 20px;
  transform: translateY(-6rem);
}

.text_lorem {
  max-width: 55%;
}

.back_lorem {
  background-color: rgb(34, 34, 31);
  padding-left: 5rem;
  padding-right: 5rem;
}

.lorem h5 {
  font-size: 30px;
  margin-left: 3rem;
  padding-top: 4rem;
  color: white;
  font-weight: 500;
  margin-bottom: 1rem;
}

.amet {
  display: block;
}

.lorem p {
  margin-left: 3rem;
  color: white;
}

.button_lorem {
  margin-top: 5rem;
  margin-right: 10vw;
}

.button_lorem {
  color: black;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  font-weight: 800;
  display: flex;
  align-items: center;
}

.button_lorem:hover {
  color: white;
  background-color: black;
}

.footer_haut {
  background-color: rgb(34, 34, 31);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.fa-bars {
  display: none;
}

.footer_haut a img {
  width: 12rem;
}

.footer_haut ul {
  display: flex;
}

.footer_haut ul li a {
  color: white;
  margin-left: 1rem;
}

.footer_haut ul li a:hover {
  font-weight: 900;
}

.trait_f {
  background-color: rgb(34, 34, 31);
  padding-right: 5rem;
  padding-left: 5rem;
}

.trait_footer {
  width: 100%;
  border: solid grey 1px;
  background-color: rgb(34, 34, 31);
}

.footer_travel {
  background-color: rgb(34, 34, 31);
  display: flex;
  padding-bottom: 3rem;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
  align-items: center;
  padding-top: 3rem;
  color: grey;
}

footer p {
  margin-bottom: 10px;
}

.location p:nth-child(1) {
  color: white;
}

.contact p:nth-child(1) {
  color: white;
}

.reseaux {
  display: flex;
  align-items: center;
}

.lien_reseaux a {
  margin-left: 1rem;
  font-size: 30px;
  color: white;
}

@media screen and (max-width: 1300px) {
  .bannière img {
    max-height: 350px;
    width: 170px;
    right: 15%;
    bottom: -5rem;
  }
  .trois_services {
    flex-direction: column;
  }
  .egypte {
    width: 100%;
    height: 15rem;
    margin-bottom: 1rem;
  }
  .pass_mongol {
    margin-left: 0rem;
    width: 100%;
  }
  .passport {
    width: 100%;
    height: 15rem;
  }
  .mongolfiere {
    width: 100%;
    height: 15rem;
  }
}
@media screen and (max-width: 1146px) {
  .lorem {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 836px) {
  nav ul {
    display: flex;
    text-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 800px) {
  .fa-bars {
    display: block;
    font-size: 30px;
    color: grey;
    border: solid rgb(223, 220, 220) 1px;
    padding: 10px;
  }
  .menu_dropdown ul {
    display: none;
  }
  .menu_dropdown:hover ul {
    display: block;
    position: absolute;
    background-color: rgb(34, 34, 31);
    padding: 1rem;
    right: 127px;
    top: 1px;
    border-radius: 20px;
  }
  nav ul li {
    margin: 0rem;
    margin-bottom: 1rem;
  }
  nav ul li a {
    color: white;
  }
  .agency {
    color: white;
    font-weight: 500;
  }
  .banner {
    margin-top: 70px;
  }
  .bannière div {
    margin-left: 2rem;
  }
  .texte_banniere h1 {
    max-width: 300px;
  }
  .bannière img {
    right: 10%;
    bottom: 16%;
  }
  .trois_services {
    flex-direction: row;
  }
  .egypte {
    background-image: url(../img/homme-assis-batiment.jpg);
    width: 50%;
    height: 30rem;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
  .passport {
    background-image: url(../img/passport.jpg);
    width: 100%;
    height: 47%;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 20px;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
  .mongolfiere {
    background-image: url(../img/montgolfiere.jpg);
    width: 100%;
    height: 47%;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
  .pass_mongol {
    margin-left: 1rem;
    width: 50%;
  }
  .lit {
    width: 9rem;
  }
  .id {
    width: 9rem;
  }
  .bus {
    width: 9rem;
  }
  .footer_travel {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 683px) {
  nav {
    flex-direction: column;
  }
  nav img {
    width: 300px;
  }
  .menu_dropdown:hover ul {
    right: 41%;
    top: 138px;
  }
  .banner {
    margin-top: 7rem;
    padding: 0rem;
  }
  .bannière {
    padding-right: 0%;
  }
  .texte_banniere {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .bannière img {
    display: none;
  }
  .texte_banniere h1 {
    width: auto;
    height: auto;
  }
  .bannière div p {
    height: auto;
    width: 300px;
  }
  .services {
    padding: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .services h2 {
    font-size: 70px;
    margin: 0rem;
  }
  .trois_services {
    flex-direction: column;
    width: 100%;
  }
  .egypte {
    width: 100%;
  }
  .passport {
    width: 200%;
    height: 30rem;
  }
  .mongolfiere {
    width: 200%;
    height: 30rem;
  }
  .pass_mongol {
    margin: 0rem;
  }
  .features {
    flex-direction: column;
    padding-top: 3rem;
  }
  .lit {
    width: 80%;
  }
  .bus {
    width: 80%;
  }
  .id {
    width: 80%;
  }
  .lorem {
    flex-direction: column;
  }
  .lorem h5 {
    margin: 0rem;
  }
  .lorem p {
    margin: 0rem;
  }
  .button_lorem {
    margin: 1rem;
  }
  .footer_haut {
    flex-direction: column;
  }
  .footer_haut ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer_haut li {
    margin-top: 1rem;
  }
  .back_lorem {
    padding: 0rem;
  }
  main h2:nth-child(2) {
    padding: 0rem;
    justify-content: center;
    font-size: 70px;
    margin: 0rem;
  }
  main {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  header {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
